Repository LLNL/blt, pull requests merged in 2020-08, with the labels that each got.

#385 Add shell script snippet from spack to handle multiple Python versions
  CONTRIBUTING.md
  RELEASE-NOTES.md
  cmake/run-clang-format.py
Labels: code checks

#389 Remove CUDA PIE flag for PGI
  cmake/thirdparty/SetupCUDA.cmake
  host-configs/llnl/blueos_3_ppc64le_ib_p9/pgi@20.4_nvcc.cmake
Labels: cuda, pgi

#393 Various compatibility fixes and added tests against them
  .mailmap
  RELEASE-NOTES.md
  cmake/BLTMacros.cmake
  cmake/thirdparty/SetupCUDA.cmake
  docs/tutorial/calc_pi/CMakeLists.txt
  host-configs/llnl/bgqos_0/clang@4.0.0_xlf.cmake
  host-configs/llnl/blueos_3_ppc64le_ib_p9/clang@upstream_nvcc_c++17.cmake
  host-configs/llnl/blueos_3_ppc64le_ib_p9/clang@upstream_nvcc_c++17_no_separable.cmake
  host-configs/llnl/blueos_3_ppc64le_ib_p9/pgi@20.4_nvcc.cmake
  tests/internal/CMakeLists.txt
  thirdparty_builtin/googletest-master-2020-01-07/googlemock/CMakeLists.txt
  thirdparty_builtin/googletest-master-2020-01-07/googletest/CMakeLists.txt
  thirdparty_builtin/patches/gtest-2020-08-25-turn-off-exported-includes.patch
Labels: C++, clang, cuda, host-configs, pgi
