Repository LLNL/blt, pull requests merged in 2020-10, with the labels that each got.

#405 Add BLT_CMAKE_IMPLICIT_LINK_DIRECTORIES_EXCLUDE variable
  RELEASE-NOTES.md
  cmake/SetupCompilerOptions.cmake
  cmake/thirdparty/SetupCUDA.cmake
  host-configs/llnl/blueos_3_ppc64le_ib_p9/clang@upstream_nvcc_c++17.cmake
  host-configs/llnl/blueos_3_ppc64le_ib_p9/clang@upstream_nvcc_c++17_no_separable.cmake
Labels: cuda, flags

#407 Add options to enforce autoformatter version
  RELEASE-NOTES.md
  cmake/SetupCodeChecks.cmake
  docs/api/code_check.rst
  host-configs/llnl/blueos_3_ppc64le_ib_p9/clang@upstream_nvcc_c++17.cmake
  host-configs/llnl/blueos_3_ppc64le_ib_p9/clang@upstream_nvcc_c++17_no_separable.cmake
  tests/internal/CMakeLists.txt
Labels: code checks

#411 feat: check for multiple C format cfgs incl clang
  RELEASE-NOTES.md
  cmake/SetupCodeChecks.cmake
Labels: code checks

#413 Loosen things that cause style version check to fail
  cmake/SetupCodeChecks.cmake
Labels: bug, code checks
