Repository LLNL/blt, pull requests merged in 2020-11, with the labels that each got.

#412 [feature/add-yapf-support] Add support for Python source code formatting using YAPF
  README.md
  RELEASE-NOTES.md
  SetupBLT.cmake
  cmake/BLTOptions.cmake
  cmake/BLTPrivateMacros.cmake
  cmake/SetupCodeChecks.cmake
  cmake/thirdparty/SetupThirdParty.cmake
  docs/api/code_check.rst
  tests/internal/CMakeLists.txt
  tests/internal/src/test_yapf_conformant.py
  tests/internal/src/test_yapf_nonconformant.py
  tests/internal/yapf.cfg
Labels: code checks, python

#421 Add an (almost) drop-in replacement for blt_register_library that creates real CMake targets
  RELEASE-NOTES.md
  cmake/BLTMacros.cmake
  cmake/BLTPrivateMacros.cmake
  cmake/thirdparty/SetupCUDA.cmake
  cmake/thirdparty/SetupHIP.cmake
  cmake/thirdparty/SetupMPI.cmake
  cmake/thirdparty/SetupOpenMP.cmake
  docs/api/target.rst
  docs/tutorial/external_dependencies.rst
  thirdparty_builtin/CMakeLists.txt
Labels: design, feature

#427 Fix dependency generation issue encountered with blt_import_library + HIP + gtest
  cmake/thirdparty/FindHIP.cmake
  tests/smoke/CMakeLists.txt
  tests/smoke/blt_cuda_gtest_smoke.cpp
  tests/smoke/blt_hip_gtest_smoke.cpp
Labels: cuda, hip

#430 Update README
  README.md
  docs/api/target.rst
Labels: documentation

#429 Refresh code coverage integration
  RELEASE-NOTES.md
  cmake/BLTPrivateMacros.cmake
  cmake/SetupCodeCoverageReports.cmake
  cmake/thirdparty/SetupThirdParty.cmake
  docs/api/code_metric.rst
  docs/api/index.rst
Labels: code checks
