Repository LLNL/blt, pull requests merged in 2020-07, with the labels that each got.

#369 fix linking issue in hip 3.5
  tests/smoke/blt_hip_smoke.cpp
Labels: hip, testing

#371 Add missing release notes
  RELEASE-NOTES.md
Labels: documentation

#377 Make CUDA_TOOLKIT_ROOT_DIR optional again
  cmake/thirdparty/SetupCUDA.cmake
Labels: cuda
