Repository LLNL/blt, pull requests merged in 2021-11, with the labels that each got.

#542 add example host-config for intel-oneapi + c++17 on toss3
  host-configs/llnl/toss_3_x86_64_ib/intel-oneapi@2021.3-c++17.cmake
Labels: host-configs, C++

#537 Updates hip cce host-config
  host-configs/llnl/toss_4_x86_64_ib_cray/cce@12.0.1_clang_hip.cmake
  tests/internal/CMakeLists.txt
Labels: bug, hip

#538 Adds a host-config for the rocm+hip compiler on LLNL's rznevada cluster
  host-configs/llnl/toss_4_x86_64_ib_cray/rocm@4.2.0_hip.cmake
Labels: hip, host-configs

#541 Patch hip::device target to allow compilation/running without FindHIP
  cmake/thirdparty/SetupHIP.cmake
  host-configs/llnl/toss_4_x86_64_ib_cray/cce@12.0.1_clang_hip.cmake
  host-configs/llnl/toss_4_x86_64_ib_cray/cce@12.0.3_clang_hip.cmake
  tests/internal/CMakeLists.txt
Labels: hip

#549 Update macOS image to 10.15
  azure-pipelines.yml
Labels: CI, maintenance
