Repository LLNL/blt, pull requests merged in 2022-03, with the labels that each got.

#563 Main branch mergeback to develop
  RELEASE-NOTES.md
  SetupBLT.cmake
Labels: release

#564 Add support for C++20
  RELEASE-NOTES.md
  cmake/SetupCompilerOptions.cmake
Labels: flags, C++

#572 Attempt to fix the allocate/release
  .gitlab-ci.yml
  .gitlab/build_corona.yml
  .gitlab/build_quartz.yml
Labels: bug, CI

#579 Various HIP cleanup tasks
  RELEASE-NOTES.md
  cmake/BLTMacros.cmake
  cmake/BLTOptions.cmake
  cmake/SetupCompilerOptions.cmake
  cmake/thirdparty/FindROCm.cmake
  cmake/thirdparty/SetupHCC.cmake
  cmake/thirdparty/SetupThirdParty.cmake
  docs/api/utility.rst
  docs/tutorial/portable_compiler_flags.rst
  host-configs/llnl/toss_4_x86_64_ib_cray/cce@12.0.3_clang_hip.cmake
  host-configs/other/hcc.cmake
  tests/internal/CMakeLists.txt
  tests/smoke/CMakeLists.txt
  tests/smoke/blt_hcc_runtime_smoke.cpp
  tests/smoke/blt_hcc_smoke.cpp
Labels: hip
