Repository LLNL/blt, pull requests merged in 2023-07, with the labels that each got.

#644 Adds a `clang_tidy_style` target to allow clang-tidy to apply fixes inline
  RELEASE-NOTES.md
  cmake/BLTOptions.cmake
  cmake/SetupCodeChecks.cmake
  cmake/thirdparty/SetupThirdParty.cmake
  docs/api/code_check.rst
Labels: code checks

#647 Harden finding ROCM_PATH
  RELEASE-NOTES.md
  cmake/thirdparty/SetupHIP.cmake
Labels: bug, hip

#650 Add example on how to fully override the gcc-toolchain on blueos
  .gitlab/build_lassen.yml
  host-configs/llnl/blueos_3_ppc64le_ib_p9/clang@14.0.5_with_gcc@8.3.1_nvcc_c++_only.cmake
Labels: CI, cuda, C++, clang, User Request
